.background {
  background-image: url("https://images.unsplash.com/photo-1585840887185-dc28a1b86ea0?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGRyYXdpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=400");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0px;
}

.striscianera {
  position: fixed;
  height: 70px;
  background-color: black;
  width: 100%;
  border-bottom: 3px solid red;
  opacity: 0.8;
}

.bandiere {
  width: 60px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}
#bandieraitalia {
  margin-left: 50px;
}

#acmetop {
  margin-left: 300px;
  margin-top: -43px;
  color: white;
}

#openday {
  text-align: center;
  color: white;
  max-width: 1200px;
  margin: auto;
  xborder-radius: 15px;
  border: 50px;
}
div[red] {
  background-color: red;
}
div[green] {
  background-color: green;
}
p[italic] {
  font-style: italic;
}
