body {
    background-image: url('images/background.jpg');
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.Stricianera {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
    float: left;
    position: fixed;
    padding: 1% 0% 0.5% 5%;
    width: 100%;
    height: auto;
}

.bandiere {
    float: left;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 3px;

}

.bandiere:hover {
    outline: 2px solid white;
}


.acmetop {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

a.acmetop:hover {
    color: rgb(255, 85, 85);
}

@media screen and (max-width: 585px) {

    .bandiere {
        float: none;
        margin-bottom: 8px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 585px) {

    .Stricianera {
        text-align: center;
        padding-left: 0%;
    }
}

.logoacme {
    max-width: fit-content;
    margin: 20px auto 50px auto;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 100px 15px;
    border-radius: 100%;
    height: 270px;
    text-align: center;
    color: white;

}

#academy {
    margin: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.space {
    height: 90px;
    max-width: fit-content;
    margin: 0 auto;

}

.button {
    text-decoration: none;
    color: black !important;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.button:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.534);
    border: 1px solid white;
}

.openday {
    margin: 0 auto;
    border: 2px solid white;
    padding: 1px;
    max-width: 700px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: larger;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nomargin {
    margin: 0;
}


#red_bg {
    background-color: rgb(250, 106, 106);
}

#orange_bg {
    background-color: orange;
}


#offertaformativa {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    height: auto;
    border: 3px solid white;
    color: white;
    text-align: center;
    padding: 20px 30px;
}



.hover {
    padding: 20px;
}

.hover:hover {
    background-color: hsl(0, 0%, 3%);
    border-radius: 20px;
    outline: 1px solid white;
}


.material-symbols-outlined {
    font-size: 70px !important;
}

#welcome {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 20px;
    color: white;
    height: auto;
    border: 3px solid white;

}

div h2 {
    margin: 70px 0px 70px 0px;
    border-left: 10px solid hsl(0, 100%, 70%);
    padding-left: 20px;
}


#youtubevideo {
    width: 100%;
    height: 315px;
    padding: 2px;
}

#ampiaofferta {
    padding: 20px;
    color: white;
    height: auto;
}

#immaginepennelli {
    width: 100%;
    height: 100%;
}

#review {
    background-color: rgba(56, 126, 99, 0.781);
    margin-top: 900px;
    margin: 0 auto;
    margin-top: 20px;
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 100px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

.dipartimentoout {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    color: white;
    height: auto;
    border: 3px solid white;
    margin: 0px -10px;
}


.artivisive {
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

#bgcolor1 {
    background-color: hsl(0, 100%, 59%);
}

#bgcolor2 {
    background-color: hsl(219, 100%, 59%);
}

#bgcolor3 {
    background-color: hsl(114, 42%, 39%);
}

.color1 {
    color: hsl(0, 100%, 59%);
}

.color2 {
    color: hsl(219, 100%, 59%);
}

.color3 {
    color: hsl(114, 42%, 39%);
}

.dipartimentoin {
    padding-top: 3%;
    min-height: 100%;
    text-align: center;
    background-color: hsl(0, 0%, 10%);

}


ul {
    margin: 0 auto;
    max-width: fit-content;
    font-size: 14px;
    padding-left: 3px !important;
    max-width: 94%;
    list-style-type: square;
}

#durata {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 30px;
    color: white;
    height: auto;
    border: 3px solid white;
}

#borse {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 30px;
    color: white;
    height: auto;
    border: 3px solid white;
}

.bitmargin {
    margin: 20px;
}

#info {
    background-color: rgb(88, 124, 118);
    color: white;
    padding: 30px 180px;
}

#iconimagesbot {
    font-size: 25px !important;
}

#iconimagesbot2 {
    font-size: 27px !important;
}

#iconimagesbot3 {
    font-size: 27px !important;
}

.social {
    width: 60px;
    padding-top: 20px;
    padding-left: 20px;
}

#map {
    margin-top: 25px;
    border: 8px solid rgb(88, 124, 118) !important;
}

a {
    color: white !important;
}

footer {
    background-color: hsl(0, 0%, 6%);
    color: white;
    width: 100%;
    margin-top: -6px;

}

.footercontent {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.top {
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 55px !important;
    border-radius: 90px;
    text-align: center !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 6px;
}

#popup {
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    bottom: -175px;
    left: 20px;
    position: fixed;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: rgb(55, 98, 117);
    display: block;
    padding: 1px 15px 15px 15px;
    border: 2px solid rgb(90, 162, 196);
}

#cookiebutton {
    background-color: rgb(179, 247, 232);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(64, 151, 147);
    border-radius: 10px;
    padding: 4px 5px;
    margin: 5px;

}
